{
  "swagger" : "2.0",
  "info" : {
    "description" : "",
    "version" : "",
    "title" : ""
  },
  "host" : "api.topcoder.com",
  "basePath" : "/v3/authorizations",
  "schemes" : [ "https" ],
  "produces" : [ "application/json" ],
  "paths" : {
    "" : {
      "post" : {
        "responses" : {
          "200" : {
            "schema" : {
              "type" : "object",
              "items" : {
                "$ref" : "#/definitions/Authorization"
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      },
      "delete" : {
        "responses" : {
          "200" : {
            "schema" : {
              "type" : "object",
              "items" : {
                "$ref" : "#/definitions/Authorization"
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    },
    "/{id}" : {
      "get" : {
        "responses" : {
          "200" : {
            "schema" : {
              "type" : "object",
              "items" : {
                "$ref" : "#/definitions/Authorization"
              }
            }
          },
          "default" : {
            "description" : "Unexpected error",
            "schema" : {
              "$ref" : "#/definitions/Error"
            }
          }
        }
      }
    }
  },
  "definitions" : {
    "Authorization" : {
      "properties" : {
        "id": {
          "type": "string"
        },
        "result": {
          "type": "object",
          "items": {
            "$ref": "#/definitions/AuthorizationResult"
          }
        }
      }
    },
    "AuthorizationResult" : {
      "properties" : {
        "success": {
          "type": "boolean",
          "sample": true
        },
        "status": {
          "type": "integer",
          "sample": 200
        },
        "content": {
          "type": "object",
          "items": {
            "$ref": "#/definitions/AuthorizationContent"
          }
        }
      }
    },
    "AuthorizationContent" : {
      "properties" : {
        "id": {
          "type": "string"
        },
        "token": {
          "type": "string",
          "sample": "eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJpc3MiOiJodHRwczovL2FwaS50b3Bjb2Rlci1kZXYuY29tIiwiZXhwIjoxNDMzMjcxNzYwLCJ1c2VySWQiOiIyMzA2MTQwNSIsImlhdCI6MTQzMzI3MTE2MCwianRpIjoiMDZhNzVjM2EtMTQ0MC00MWE3LTk5N2YtZmFmMGVjZjFmOGM1In0.N3ubXTH6jnM3QoDm0qubYYrOVqx3unE_fz5La6lgbMI"
        },
        "target": {
          "type": "string",
          "sample": "1"
        }
      }
    },
    "Error" : {
      "properties" : {
        "code" : {
          "type" : "integer",
          "format" : "int32"
        },
        "message" : {
          "type" : "string"
        },
        "fields" : {
          "type" : "string"
        }
      }
    }
  }
}